<section class="block-options">
    <div class="container-100 flex-col">
        @@include("./service-name.html", { 
            "name" : "PR-стратегия",
            "description" : "- план действий, который нацелен на:"
        })
        <div class="options flex-col">
            @@include("./option-item.html", {
                "background": "style='background: #CD93AF'",
                "option-text": "<p>01&nbsp;&nbsp;&nbsp;создание <span>имиджа,</span></p>"
            }) 
            @@include("./option-item.html", {
                "background": "style='background: #CD93AF'",
                "option-text": "<p>02&nbsp;&nbsp;&nbsp;управление <span>репутацией,</span></p>"
            }) 
            @@include("./option-item.html", {
                "background": "style='background: #CD93AF'",
                "option-text": "<p>03&nbsp;&nbsp;&nbsp;повышение <span>узнаваемости бренда,</span></p>"
            }) 
            @@include("./option-item.html", {
                "background": "style='background: #CD93AF'",
                "option-text": "<p>04&nbsp;&nbsp;&nbsp;формирование <span>лояльности,</span></p>"
            }) 
            @@include("./option-item.html", {
                "background": "style='background: #CD93AF'",
                "option-text": "<p class='special-after'>05&nbsp;&nbsp;&nbsp;<span>продвижение</span> продукта/компании/персоны через работу с аудиторией</p>"
            }) 
        </div>
    </div>
</section>