<section class="form">
    <div class="container flex-col">
        <div class="top-text">
            <h3 class="text-color-2">@@heading
                мы&nbsp;оперативно свяжемся:</h3>
        </div>
        <div class="input">
            <form class="flex-row no-wrap space-between flex-center" action="" method="POST" id="form">
                <input type="hidden" name="act" value="order">
                <div class="input-field relative">
                    <input placeholder=" " required type="text" name="name" id="name">
                    <label for="name" class="text-color-6">Имя</label>
                </div>
                <div class="input-field relative">
                    <input placeholder=" " required type="text" name="email" id="email">
                    <label for="email" class="text-color-5">Почта</label>
                </div>
                <div class="input-field relative">
                    <input placeholder=" " required type="tel" name="phone" id="phone">
                    <label for="phone" class="text-color-10">Телефон</label>
                </div>
            </form>
        </div>
        <div class="bottom-text flex-col">
            <div class="agree">
                <div class="unstyled centered">
                    <div class="checkbox-item">
                      <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                      <label for="styled-checkbox-1"><p>я согласен на&nbsp;обработку<br> персональных данных</p></label>
                    </div>
                    <div class="checkbox-item">
                        <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value2" checked>
                        <label for="styled-checkbox-2"><p>я согласен получать рассылку</p></label>
                      </div>
                </div>    

            </div>
            <div class="button choose flex-row">
                <div class="circle-arrow">
                    <img src="./images/circle-arrow.svg" alt="">
                </div>
                <a href="" class="justify-center">
                    выбрать пакет
                </a>
                <div class="arrow-right">
                    <img src="./images/arrow.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>