<section class="rounded-block">
    <div class="container flex-row">
        <div class="left-side left-round" id="left-round">
            <div class="rounded-photo">
                <img src="../images/team-photo.jpg" alt="">
            </div>
        </div>
        <div class="right-side">
            <div class="rounded-content flex-col right-round" id="right-round">
                <p class="bold">С радостью придём на помощь, если&nbsp;что-то&nbsp;пошло не по плану.</p>
                <div class="arrow-right-bottom">
                    <img src="../images/arrow-right-bottom.svg" alt="">
                </div>
                <p>Скачайте <a class="hover-color" href="">бриф</a> , введите контактные данные, заполните оставшиеся строки и жмите «отправить»</p>
            </div>
        </div>
    </div>
</section>