<section class="scheme-block flex-col">
    <div class="container">
        <h2>схема для самостоятельной разработки PR-стратегии:</h2>
    </div>
    <div class="scheme">
        <div class="first-level flex-row">
            <div class="scheme-item flex-row">
                <div class="scheme-item-container">
                    <div class="number-and-task-container flex-row">
                        <p class="number">01</p>
                        <p class="only-task scheme-width-50">Проанализируйте рынок конкурентов</p>
                    </div>
                </div>
            </div>
            <div class="scheme-item si-2 flex-row">
                <div class="scheme-item-container">
                    <div class="number-container">
                        <p class="number">02</p>
                    </div>
                    <div class="texts-container flex-row">
                        <p class="task">Проведите аудит</p>
                        <p class="description">своего продукта/услуги и определите его сильные стороны</p>
                    </div>
                </div>
            </div>
            <div class="scheme-item si-3 flex-row">
                <div class="scheme-item-container main-scheme-item">
                    <div class="number-container">
                        <p class="number">03</p>
                    </div>
                    <div class="texts-container flex-row">
                        <p class="task">Возьмите у маркетологов<br>ЦА</p>
                        <p class="description">на которую будут направлены сообщения (или соберите ее самостоятельно)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="second-level flex-row">
            <div class="scheme-item flex-row">
                <div class="scheme-item-container">
                    <div class="number-and-task-container flex-row">
                        <p class="number">04</p>
                        <p class="only-task scheme-width-50">Определитесь с каналами</p>
                    </div>
                </div>
            </div>
            <div class="scheme-item scheme-item-to-resize si-5 flex-row">
                <div class="scheme-item-container">
                    <div class="number-container">
                        <p class="number">05</p>
                    </div>
                    <div class="texts-container flex-row">
                        <p class="task">Выделите основную идею</p>
                        <p class="description">вашего продукта/услуги и сформулируйте key- messages для каждого канала)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="third-level flex-row">
            <div class="scheme-item scheme-item-to-resize si-6 flex-row">
                <div class="scheme-item-container">
                    <div class="number-container">
                        <p class="number">06</p>
                    </div>
                    <div class="texts-container flex-row">
                        <p class="task">Обозначьте&nbsp;темы</p>
                        <p class="description">и распределите их между «говорящими головами» и пресс-службой</p>
                    </div>
                </div>
            </div>
            <div class="scheme-item flex-row">
                <div class="scheme-item-container">
                    <div class="number-and-task-container flex-row">
                        <p class="number">07</p>
                        <p class="only-task scheme-width-90">Соберите MediaKit и&nbsp;пропишите Tone of Voice для разных площадок</p>
                    </div>
                </div>
            </div>
            <div class="scheme-item scheme-item-to-resize si-8 flex-row">
                <div class="scheme-item-container">
                    <div class="number-container">
                        <p class="number">08</p>
                    </div>
                    <div class="texts-container flex-row">
                        <p class="task">Составьте медиаплан</p>
                        <p class="description">не забудьте обозначить KPI</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>