.plug {
    height: 100vh;
    background-image: url("../images/Main-cover.png");
    background-size: cover;
    .container {
        .logo, .bottom-text {
            width: 100%;
        }

        .logo {
            p {
                font-size: 2.5vw;
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 400;
                svg {
                    width: 18%;
                    position: relative;
                    top: 2px;
                    height: auto;
                }
            }
        }
        .info-text {
            width: 55%;
            h3 {
                margin-top: 110px;
                margin-bottom: 170px;
                font-size: 5.5vw;
                font-weight: 300;
                line-height: 1;
                .svg-smile {
                    width: 8.5%;
                    top: 10px;
                    height: auto;
                }
                svg {
                    position: relative;
                    width: 8%;
                    top: 10px;
                    height: auto;
                }
            }
        }

        .logo, .info-text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .bottom-text {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            p {
                margin-top: 0;
                text-align: right;
                font-size: 2.4vw;
                font-weight: 400;
            }
        }
    }
}

.svg-center {
    // height: 100vh;
    // background-image: url("../images/Main-cover.png");
    // background-size: cover;
    margin: 10% auto;
    .container {
        margin: auto auto !important;
        .svg-container {
        
            width: 65%;
            height: 100%;
        }
    }
}

.main-cover {
    h3, p {
        font-weight: 300;
    }
    height: 100vh;
    background-image: url("../images/hub_new_back.jpg");
    background-size: cover;
    background-position: center;
    .container {
        height: 100vh;
        justify-content: space-between;
    }

    .header {
        width: 100%;
        justify-content: space-between;
        .nav-options {
            a {
                margin-right: 70px;
                font-size: $font-size-2;

            }
        }
        .change-language {
            a {
                font-size: $font-size-2;
            }
        }
    }

    .main-hero {
        // align-items: center;
        justify-content: flex-start;
        width: 40.5%;
        .main-text {
            h3 {
                font-size: 5.2vw;
                line-height: 1.1;
                margin-top: 0px;
            }
            .arrow-and-one {
                width: 24%;
                height: fit-content;
                position: relative;
                top: 8.5px;
            }
            .main-text-bottom {
                margin-top: 0;
                margin-bottom: 0;
                display: flex;
                justify-content: flex-end;
                height: auto;
                svg {
                    margin-left: 12.5px;
                    width: 22%;
                    height: 100%;
                    
                }
            }
            .main-text-top {
                margin-bottom: 0;
            }
        }
        .main-button {

            a { 
                // margin-top: 10px;
                // padding: 3% 15%;
                padding-bottom: 15px;
                padding-top: 15px;
                text-align: center;
                color: $color-1;
                font-size: $font-size-3;
                width: 45%;
                height: 100%;
                border: 1px solid white;
                border-radius: 50px;
                transition: all .3s ease-out;
                // p {
                //     padding: 3% 40%;
                //     color: $color-1;
                //     font-size: 1.5vw;
                //     margin-top: 8px;
                //     margin-bottom: 8px;
                // }
            }  
            a:hover {
                transition: all .3s ease-out;
                background-color: #F1C376;
                // color: $color_6;
            }  
        }
    }
    .main-footer {
        // height: 100%;
        // display: flex;
        align-items: center;
        .left-side {
            p {
                font-weight: 500;
                font-size: $font-size-4;
            }
        }
        .right-side {
            align-items: center;
            justify-content: flex-end;
            .social {
                a {
                    display: inline-block;
                    height: auto;
                    margin: auto 30px;
                    svg:hover {
                        path {
                            fill: #F1C376;
                            transition: fill .3s ease-out;
                        }
                    }
                }
            }
            .chat {
                // display: inline-block;
                height: auto;
                width: 30%;
                a {
                    margin: 0 0 0 30px;

                    svg {
                        width: 100%;
                        height: 100%;
                        transition: fill .3s ease-out;
                        fill: none;
                    }
                }

                svg:hover {
                    fill: #F1C376;
                    transition: fill .3s ease-out;
                }
            }
        }
    }
}

.projects {
    // height: 100vh;
    h3, p {
        color: $color-2;
        font-weight: 400;
    }
    .top-content {
        margin-top: 50px;
        margin-bottom: 30px;
        height: auto;
        align-items: center;
        position: relative;
        .name {
            h3 {
                position: relative;
                top: 3px;
                font-size: $font-size-6;
                margin-bottom: 0;
                margin-top: 0;
            }
        }


    }
    .top-content::after {
        transition: all ease-in 0.15s; 
        content: ' ';
        position: absolute;
        top: 86.5%;
        left: -500px;
        height: 1px;
        width: 3000px;
        background: $color-2;
    }
    .project-items {
        width: 100%;
        justify-content: space-between;

        .project-item {
            width: calc(33.3333% - 5px);
            max-height: 100%;
            margin-top: 3px;
            transition: all ease-in 0.15s; 
            position: relative;
            // height: 300px;
            // height: 25% !important;
            picture {
                transition: all ease-in 0.3s;
                img {
                    transition: all ease-in 0.3s;
                }
            }
            &:hover:not(.text-item) {
                picture:not(.project-6-image, .project-6-hover-image) {
                    // transform: scale(1.02);
                    filter: blur(2.5px);
                    transition: all ease-in 0.3s;
                    // img {
                    //     border-radius: 50px !important;
                    //     transition: all ease-in 0.3s;
                    // }
                }
                &::after {
                    opacity: 1;
                    transition: all ease-in 0.15s;
                    // filter: blur(0px) !important;
                } 
            }

            &::after {
                transition: all ease-in 0.15s; 
                content: 'Краткое описание проекта';
                position: absolute;
                left: 25%;
                top: 40%;
                // top: ;
                // width: 3000px;
                width: 60%;
                font-size: 1.8vw;
                opacity: 0;
                color: $color-1;
                text-align: left;
            }
        }
        .project-6 {
            position: relative;
            .project-6-hover-image {
                transition: all ease-in 0.15s; 
                position: absolute;
                left: -4.9%;
                top: 4.2%;
                z-index: 4 !important;
            }
            .project-6-image {
                z-index: 5 !important;
            }
            &:hover {
                .project-6-hover-image {
                    transition: all ease-in 0.15s; 
                    left: 0%;
                    top: 0%;

                }
            }
        }
        .text-item {
            align-items: center;
            justify-content: center;
            margin-top: 1.5%;
            p {
                width: 60%;
                margin-left: 10%;
                margin-top: 12px;
                margin-bottom: 12px;
                text-align: start !important;
                font-weight: 300;
                font-size: $font-size-3;
            }
            :last-child {
                font-weight: 600;
            }
            span {
                font-weight: 600;
                font-size: $font-size-3;
            }
        }
        // .project-item:not(:last-child) {
        //     margin-right: 5px;
        // }
    }
}

.cover-block {

    position: relative;
    margin-top: 5.2%;
    border-radius: 39px;
    .container {
        // padding-bottom: 0;
        width: 100%;
        .cover {
            position: relative;
            top: 0;
            left: 0;
            height: fit-content;
            picture {
                transform: scale(1.2);
                width: 100%;
                max-width: 100%;
                z-index: -1;
            img {
                background-size: cover;
                background-position: center;
            }
        }
    }
        .cover-text-container {
            width: 100%;
            // margin-top: 31%;
            // max-width: 100%;
            // max-height: 100%;
            justify-content: flex-end;
            align-items: flex-end;
            display: flex;
            position: absolute;
            left: -6%;
            top: 35%;
            .cover-text {
                width: 30%;
                margin-right: 0%;
                h1 {
                    font-weight: 400;
                    line-height: 1.35;
                    color: $color-2;
                    font-size: $font-size-4;
                    // margin-bottom: 1%;
                    text-transform: none;
                }

                .span-class {
                    font-weight: 600;
                }

                .olga-s-span {
                    flex-wrap: wrap;
                    // margin-top: 15px;
                    color: $color-2;
                    font-weight: 300;
                    font-size: $font-size-4;
                    position: relative;
                    top: 1%;
                }
            }
        }
    }
}

.footer {
    a {
        font-size: $font-size-1;
        font-weight: 400;
        color: $color-2;
        transition: all ease-in 0.15s; 
        &:hover {
            opacity: 0.5;
            transition: all ease-in 0.15s; 
        }
    }
    .no-hover:hover {
        opacity: 1 !important;
    }
    .no-hover {
        margin-right: 0 !important;
    }
    .container {
        padding-top: 0.8%;
        margin-top: 15px;
        margin-bottom: 15px;
        align-items: center;
        .left-side {
            :nth-child(1) {
                margin-right: 50px;
            }
            a {
                cursor: pointer;
            }
        }
        .right-side {
            align-items: center;
            a {
                // width: 8%;
                margin-right: 50px;
                transition: all ease-in 0.15s; 
                &:hover {
                    opacity: 0.5;
                    transition: all ease-in 0.15s; 
                }
                svg {
                    width: 24px;
                    height: 24px;
                }
            }
            .copyright-text {
                margin-left: 50px;
            }
        }
    }
}

.header {
    .header-burger {
        display: none;
    }
}


///////// SERVICES PAGE

.services {
    h3, p {
        color: $color-2;
        font-weight: 400;
    }
    .name-and-line {
        margin-top: 30px;
        margin-bottom: 80px;
        height: auto;
        align-items: center;
        position: relative;
        .name {
            h3 {
                position: relative;
                top: 3px;
                font-size: $font-size-6;
                margin-bottom: 0;
                margin-top: 0;
            }
        }


    }
    .name-and-line::after {
        transition: all ease-in 0.15s; 
        content: ' ';
        position: absolute;
        top: 86.5%;
        left: -500px;
        height: 1px;
        width: 3000px;
        background: $color-2;
    }
    .services-list {
        .right-side {
            width: 30%;
        }
        .right-side {
            margin-right: 10%;
            width: 40%;
            p {
                font-size: $font-size-4;
            }
        }
        .service-item {
            margin-top: 20px;
            margin-bottom: 20px;
            max-width: 100%;
            width: 100%;
            align-items: center;
            .left-side {
                .circle-arrow-service, .theme-service {
                    width: 20%;
                }
                p {
                    font-size: 2.474vw;
                    font-weight: 500;
                }
            }
        }
    }
}

