// Animated headings settings
.words-wrapped {
    position: relative;
    margin: 0;
    overflow: hidden;
    height: fit-content;

    span {
        display: inline-block;
        font-size: 5vw;
        font-family: $font-name;
        font-weight: 700;
        text-transform: uppercase;
        &:not(:last-child) {
            margin-right: 1.5vw;
        }
    }
    .anim-heading-span { transform: translate3d(0, 1.2em, 0); }
}

// Animation line-by-line
.animated-paragraph_item, .animated-paragraph_item_no-scroll_1, .animated-paragraph_item_no-scroll_2, .animated-paragraph_item_no-scroll_h, .animated-paragraph_item_no-scroll_team {
    position: relative;
    margin: 0;
    overflow: hidden;
    height: fit-content; 
}


.animated-paragraph_item_no-scroll_h.no-mobile {
    line-height: 1.3em;
}

.person-text {
    margin: 0 !important
}

.section-horizontal-scroll {
    display: flex;  
    flex-direction: row; 
 
    // overflow: auto;
    .horizontal-scroll-paragraph {
        position: relative;
        margin: 0;

        height: fit-content;
        .ov-hidden {
            overflow: hidden;
            display: block;
            span {
                display: inline-block;
                font-size: 1.5vw;
                margin-top: 0;
                margin-bottom: 0;
            }
        }  
    }
    .horizontal-scroll-image {
        width: 15%;
    }
}


// Text underlined
.underline_text {
    position: relative;
    width: fit-content;
    overflow: visible;
    &:after {
        margin: 0;
        left: 0;
        position: absolute;
        content: '';
        height: 1px;
        background: #000;
        width: 100%;
        display: block;
    }
}


.form {
    // height: 100vh;
    margin-top: 6.5%;
    width: 100%;
    background-color: $color-9;
    border-radius: 39px;
    .top-text {
        h3 {
            font-size: $font-size-6;
            max-width: 60% !important;
            font-weight: 400 !important;
        }
    }
    .bottom-text {
        width: 100%;
        .unstyled {
            width: 100% !important;
            margin-bottom: 20px;
        }
        // height: auto;
        .agree {
            display: flex;
            flex-direction: row;
            .unstyled {
                padding-left: 0 !important;
                flex-direction: row;
                width: 50%;
                align-items: center;
                .styled-checkbox {
                    position: absolute; 
                    opacity: 0; 
                    width: 50%;
                    & + label {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      position: relative;
                      width: fit-content;
                      cursor: pointer;
                      padding: 0;
                      width: 50%;
                      margin-right: 60px;
                      p {
                        color: $color-2;
                        font-size: 1.1vw;
                        }
                    }
                    &:checked + label:before {
                        background: $color_6;
                        appearance: none;
                        border: 0.75px solid $color_6;
                      }
                    // Box.
                    & + label:before {
                      content: '';
                      margin-right: 20px;
                      display: inline-block;
                      vertical-align: text-top;
                      width: 20px;
                      height: 20px;
                      border: 0.75px solid black;
                      border-radius: 1000px;
                    }
                  
                    // Box hover
                    // &:hover + label:before {
                    //   background: rgba(224, 150, 12, 0.5);
                    // }
                    
                    // Box focus
                    // &:focus + label:before {
                    //   box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                    // }
                  
                    
                    // Disabled state label.
                    // &:disabled + label {
                    //   color: #b8b8b8;
                    //   cursor: auto;
                    // }
                  
                    // Disabled box.
                    &:disabled + label:before {
                      box-shadow: none;
        
                    }

                  }
            }
        }
        .choose {
            // height: fit-content;
            width: fit-content; 
            // & > div {
            //     flex-grow: 1;
            // }
            // & > a {
            //     flex-grow: 1;
            // }
            margin-bottom: 4.167% !important;
            // width: 100%;
            // height: 5%;
            .arrow-right {
                opacity: 0;
            }
            .circle-arrow, .arrow-right {
                width: 15%;
                transition: all .3s ease-out;
            }
            a { 
                
                // height: auto;
                padding: 4.2% 40px;
                text-align: center;
                border: 0.7px solid black;
                border-radius: 50px;
                transition: all .3s ease-out;
                color: $color-2;
                font-size: $font-size-3;
                // p {
                //     width: 100%;
                //     text-align: center;
                //     // padding: 1.5% 50%;
                //     padding-left: 30px;
                //     padding-right: 30px;
                //     color: $color-2;
                //     font-size: 1.5vw;
                //     margin: 8px auto;
                // }
            } 
        }
        .choose:hover {
            .circle-arrow {
                transition: all .3s ease-out;
                opacity: 0;
            }
            .arrow-right {
                transition: all .3s ease-out;
                opacity: 1;
                // top: 14.8%;
            }
            a {
                background-color: $color-7;
                transition: all .3s ease-out;
            }
        }
    }
    form {
        width: 100%;
        justify-content: space-between !important;
        margin-bottom: 50px !important;
        button, a {
            display: flex;
            align-items: center;
            color: $color-2 !important;
        }
        .input-field {
            display: inline-block !important;
            max-width: calc(33% - 10px);
            width: calc(33% - 10px);
            justify-content: space-between !important;
            margin-right: 10px !important;
            input {
                width: 100%;
                max-width: 100%;
                margin: 0 !important;
                transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
                &:focus {
                    outline: none;  
                    border-bottom: 2px solid $color-2;  
                    transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
                  }
                }
            label {
                position: absolute;
                font-size: $font-size-4;
                left: 0px;
                top: 5px;
                overflow: hidden;
                color: $color-2;
                white-space: nowrap;
                z-index: 1;
                opacity: 0.6;
                transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
            input {
                &:focus, &:not(:placeholder-shown), &:-webkit-autofill {
                  &+label { top: -13px; font-size: 90%; }
                }
              }
            
        }
        // button {
        //     max-width: calc(33% - 50px) !important;
        //     width: calc(33% - 50px) !important;
        // }
        button p {
            margin: 0 !important;
            color: $color-2;
            padding: 15px 30px !important;
            transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }    
}   




.button {
    // display: inline-block;
    // width: fit-content;
    top: 2px;
    position: relative;
    // justify-content: flex-end;

    &:hover {
        .circle-arrow {
            transition: all .3s ease-out;
            opacity: 0;
        }
        a {
            transition: all .3s ease-out;
            background-color: $color-5;
        }
    }

    .button-container {
        position: relative;
        // width: max-content;
        left: 21px;
        .arrow-right {
            width: 70%;
            position: absolute;
            // display:inline-block; /* added */
            // vertical-align:middle;
            // left: -2%;
        }
        .circle-arrow {
            width: 70%;
            transition: all .3s ease-out;
            // display:inline-block; /* added */
            // vertical-align:middle;
        }
    }

    a { 
        // width: 83%;
        // height: 100%;
        margin-left: 0;
        margin-right: 0;
        // display:inline-block; /* added */
        // vertical-align:middle;
        // height: auto;
        padding: 4.2% 40px;
        border: 0.7px solid black;
        border-radius: 50px;
        transition: all .3s ease-out;
        color: $color-2;
        font-size: 20px;
    }  

}

.header-b {
    a {
        color: black;
    }

    .container {
        align-items: center;
        .nav-options {
            align-items: center;
            a {
                margin-right: 70px;
                font-size: $font-size-2;
            }
        }
        .change-language {
            align-items: center;
            a {
                font-size: $font-size-2;
            }
        }
        .header-burger {
            display: none;
        }
    }
}

.header-w {
    a {
        color: white;
    }

    .container {
        align-items: center;
        .nav-options {
            align-items: center;
            a {
                margin-right: 70px;
                font-size: $font-size-2;
            }
        }
        .change-language {
            align-items: center;
            a {
                font-size: $font-size-2;
            }
        }
        .header-burger {
            display: none;
        }
    }
}
