// Animated headings settings
.words-wrapped {
    position: relative;
    margin: 0;
    overflow: hidden;
    height: fit-content;

    span {
        display: inline-block;
        font-size: 5vw;
        font-family: $font-name;
        font-weight: 700;
        text-transform: uppercase;
        &:not(:last-child) {
            margin-right: 1.5vw;
        }
    }
    .anim-heading-span { transform: translate3d(0, 1.2em, 0); }
}

// Animation line-by-line
.animated-paragraph_item, .animated-paragraph_item_no-scroll_1, .animated-paragraph_item_no-scroll_2, .animated-paragraph_item_no-scroll_h, .animated-paragraph_item_no-scroll_team {
    position: relative;
    margin: 0;
    overflow: hidden;
    height: fit-content; 
}


.animated-paragraph_item_no-scroll_h.no-mobile {
    line-height: 1.3em;
}

.person-text {
    margin: 0 !important
}

.section-horizontal-scroll {
    display: flex;  
    flex-direction: row; 
 
    // overflow: auto;
    .horizontal-scroll-paragraph {
        position: relative;
        margin: 0;

        height: fit-content;
        .ov-hidden {
            overflow: hidden;
            display: block;
            span {
                display: inline-block;
                font-size: 1.5vw;
                margin-top: 0;
                margin-bottom: 0;
            }
        }  
    }
    .horizontal-scroll-image {
        width: 15%;
    }
}


// Text underlined
.underline_text {
    position: relative;
    width: fit-content;
    overflow: visible;
    &:after {
        margin: 0;
        left: 0;
        position: absolute;
        content: '';
        height: 1px;
        background: #000;
        width: 100%;
        display: block;
    }
}


.form {
    width: 100%;
    .top-text {
        h3 {
            font-size: 3.5vw;
            max-width: 56% !important;
        }
    }
    .bottom-text {
        p {
            color: $color-2;
        }
    }
    form {
        width: 100%;
        justify-content: space-between !important;
        margin-bottom: 50px !important;
        button, a {
            display: flex;
            align-items: center;
            color: $color-2 !important;
        }
        .input-field {
            display: inline-block !important;
            max-width: calc(33% - 10px);
            width: calc(33% - 10px);
            justify-content: space-between !important;
            margin-right: 10px !important;
            input {
                width: 100%;
                max-width: 100%;
                margin: 0 !important;
                transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
                &:focus {
                    outline: none;  
                    border-bottom: 2px solid $color-2;  
                    transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
                  }
                }
            label {
                position: absolute;
                font-size: 1.6vw;
                left: 0px;
                top: 5px;
                overflow: hidden;
                color: $color-2;
                white-space: nowrap;
                z-index: 1;
                opacity: 0.69;
                transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
            input {
                &:focus, &:not(:placeholder-shown), &:-webkit-autofill {
                  &+label { top: -13px; font-size: 90%; }
                }
              }
            
        }
        // button {
        //     max-width: calc(33% - 50px) !important;
        //     width: calc(33% - 50px) !important;
        // }
        button p {
            margin: 0 !important;
            color: $color-2;
            padding: 15px 30px !important;
            transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }    
}    



