@media screen and (min-width: 1600px) {
    .projects { 
        .top-content::after {
            top: 84.5% !important;
        } 
    }
    .desk-research { 
        .help-options {
            .help-option {
                .circle {
                    top: 15px !important;
                    width: 55px !important;
                    height: 55px !important;
                }
            }
        }
    }
}


@media screen and (min-width: 1800px) {

    .logo-and-cards {
        .cards { 
            .card-item {
                height: 617px !important;
            }
        }
    }
    .rounded-block {
        margin-top: 100px !important;
    }    
    
    .arrow-scheme {
        margin-top: 150px !important;
        margin-bottom: 150px !important;
    }
    .center-text-block {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
    .scheme-block {
        .scheme-mark-strategy {
            .number-and-task-container-2 {
                .number {
                    margin-top: 12.5px !important;
                }
            }
        }
        .scheme-for-smm {
            .number-and-task-container-2 {
                .number {
                    margin-top: 10.5px !important;
                    margin-right: 17px !important;
                }
            }
        }
    }
    .desk-research { 
        margin-top: 120px !important;
        margin-bottom: 120px !important;
        .help-options {
            .help-option {
                .circle {
                    top: 19px !important;
                    width: 65px !important;
                    height: 65px !important;
                }
            }
        }
    }
    .block-options {
        .options {
            .option-item {
                .option:after {
                    top: 115.5% !important;
                }
            }
        }
    }
    .projects { 
        .top-content {
            .name {
                h3 {
                    top: 2px !important;
                }
            }
        }
        .top-content::after {
            top: 82% !important;
        } 
    }

    .services, .projects-page { 
        .top-content::after {
            top: 84.2% !important;
        } 
    }
    .option-item-adv { 
        .option:after {
            top: 111.5% !important;
        }
    }
}


@media screen and (min-width: 2000px) {
    .desk-research { 
        .help-options {
            .help-option {
                .circle {
                    top: 26px !important;
                }
            }
        }
    }
    .projects { 
        .top-content {
            .name {
                h3 {
                    top: 0px !important;
                }
            }
        }
        .top-content::after {
            top: 80% !important;
        } 
    }

}