.service-page {
    display: flex;
    flex-direction: column !important;
    p, h3, h2 {
        font-weight: 400;
    }

    width: 100%;
    height: 100vh !important;
    // .container {
    //     height: 100%;
    // }
    .container-cont {
        height: fill !important;
        display: flex !important;
        // flex-direction: column;
        justify-content: space-between !important;
    }
    .service-page-background {
        height: 100vh;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
        // content: '';
        position: absolute;
        left: 0;
        top: 0;
    }
    .center-content {
        margin-top: 10%;
        p {
            font-size: $font-size-5;
        }
        .service-type-svg {
            width: 75%;
        }
    }
    .bottom-right-text-mark-strat {
        margin-top: 5% !important;
    }
    .bottom-right-text {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 3%;
        p {
            max-width: 36%;
            min-width: 25%;
            line-height: 1.28;
            font-size: $font-size-4;
            font-weight: 200 !important;
            margin-bottom: 0;
        }
        .span-bold {
            font-weight: 600 !important;
        }
        .pr {
            width: 25% !important;
        }
    }
}

.rounded-block {
    margin-top: 60px;
    margin-bottom: 60px;
    .container {
    }
    .left-side, .right-side {
        width: 50%;
        height: 100%;

    }
    .left-side {
        .rounded-photo {
            img {
                border-radius: 1000px;
            }
        }
    }
    .right-side {
        border-radius: 1000px;
        border: 1px solid black;
        height: auto;
        justify-content: center !important;
        align-items: center;
        .rounded-content {
            display: flex;
            justify-content: center !important;

            // padding: 21.9%;
            width: 70%;
            .bold {
                font-weight: 400 !important;
            }
            .arrow-right-bottom {
                width: 8%;
                display: flex;
                justify-content: flex-start !important;
                text-align: start;
                margin-top: 40px;
                margin-bottom: 10px;
            }
            p {
                font-size: $font-size-4;
                color: $color-2;
                font-weight: 200;
                line-height: 1.45;
            }
            p {
                width: 100%;
            }
            a {
                color: $color-2;
                font-size: $font-size-4;
                padding: 5px 25px;
                border: 1px solid black;
                border-radius: 1000px;
                transition: all .3s ease-out;
            }
            .pink {
                transition: all .3s ease-out;
                &:hover {
                    transition: all .3s ease-out;
                    background-color: $color_5;
                }
            }
            .green {
                transition: all .3s ease-out;
                &:hover {
                    transition: all .3s ease-out;
                    background-color: $color_8;
                }
            }
            .blue {
                transition: all .3s ease-out;
                &:hover {
                    transition: all .3s ease-out;
                    background-color: $color_7;
                }
            }
            .darkblue {
                transition: all .3s ease-out;
                &:hover {
                    transition: all .3s ease-out;
                    background-color: $color_6;
                }
            }
            .yellow {
                transition: all .3s ease-out;
                &:hover {
                    transition: all .3s ease-out;
                    background-color: $color_4;
                }
            }
        }
    }
}

/// FOR SMM-PAGE BLOCK-OPTIONS

.smm-options {
    .heading {
        p {
            max-width: 34%;
        }
    }
}

.block-options {
    margin-top: 20px;
    margin-bottom: 100px;
    h2, p, span {
        color: $color-2;

    }
    span {
        font-style: italic;
        font-weight: 400;
    }
    .heading {
        padding: 20px 75px;
    }
    .options {
        .option-item {
            & {
                max-width: 100%;
                position: relative;
                padding: 20px 75px;
            }
            &-background {
                height: 99.9%;
                width: 100%;
                display: block;
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 1000px;
                opacity: 0;
                transition: all 0.2s linear;
            }
            &:hover {
                .option-item-background {
                    opacity: 1;
                }
            }
            .option {
                position: relative;
                p {
                    font-size: $font-size-5;
                    font-weight: 200;
                    margin-top: 40px;
                    margin-bottom: 40px;
                }
            }
            .option:after {
                transition: all ease-in 0.15s; 
                content: ' ';
                position: absolute;
                top: 117%;
                left: -500px;
                height: 1px;
                width: 3000px;
                background: $color-2;
            }
        }
        .option-item-adv {
            & {
                max-width: 100%;
                position: relative;
                padding: 20px 75px;
            }
            &-background {
                height: 99.9%;
                width: 100%;
                display: block;
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 1000px;
                opacity: 0;
                transition: all 0.2s linear;
            }
            &:hover {
                .option-item-background {
                    opacity: 1;
                }
            }
            .option {
                position: relative;
                p {
                    font-size: $font-size-5;
                    font-weight: 200;
                    margin-top: 40px;
                    margin-bottom: 40px;
                }
            }
            .option:after {
                transition: all ease-in 0.15s; 
                content: ' ';
                position: absolute;
                top: 113%;
                left: -500px;
                height: 1px;
                width: 3000px;
                background: $color-2;
            }
        }
    }
}


.green-bc {
    background: #7E9F77;
    p, span {
        color: white !important;
    }
}

.center-text-block-large {
    margin-top: 80px;
    margin-bottom: 60px;
    width: 100%;
    h3 {
        font-size: $font-size-6;
        color: $color-2;
        font-weight: 400;
        margin-bottom: 30px;
    }
    span {
        color: $color-6;
        font-size: $font-size-6;
    }
    span {
        font-weight: 400;
        font-style: italic;
    }
    .center-text {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}

.center-text-block {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    h3 {
        font-size: $font-size-6;
        color: $color-2;
        font-weight: 400;
        margin-bottom: 30px;
    }
    p, span {
        color: $color-2;
        font-size: $font-size-5;
    }
    p {
        font-weight: 200;
        line-height: 1.42;
    }
    span {
        font-weight: 400;
        font-style: italic;
    }
    .center-text {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}

.left-text-block {
    width: 100%;
    h3 {
        font-size: $font-size-6;
        color: $color-2;
        font-weight: 400;
        margin-bottom: 30px;
    }
    p, span {
        color: $color-2;
        font-size: $font-size-5;
    }
    p {
        font-weight: 200;
        line-height: 1.42;
    }
    span {
        font-weight: 400;
        font-style: italic;
    }
    .left-text {
        display: flex;
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 0;
    }
}

.scheme-block {
    p, h2 {
        color: $color-2;
    }
    h2 {
        font-size: $font-size-6;
        font-weight: 400;
    }
    .top-text-cont {
        p {
            font-size: 2.8vw;
        }
    }
    .scheme-for-naming {
        .si-1, .si-2 {
            width: 20%;
        }
        .si-3 {
            width: 22.5%;
        }
        .si-5, .si-6 {
            width: 15%;
        }
        .second-level {
            justify-content: flex-start !important;
        }
        .third-level {
            justify-content: flex-end !important;
        }
        .si-4-2 {
            .texts-container{
                width: 80%;
            }
            .number-container {
                margin-top: 11.5px;
                margin-right: 15px;
            }
        }
        .si-7-2 {
            .texts-container{
                width: 80%;
            }
            .number-container {
                margin-top: -15px !important;
                margin-right: 15px !important;
            }
        }
    }

    .scheme {
        display: flex;
        // flex-wrap: wrap;
        width: 100%;
        // height: auto;
        // grid-template-columns: repeat(6, auto);
        // grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        // grid-auto-rows: 1fr;
        // grid-row: 1 / 3 ;
        .first-level, .second-level, .third-level, .fourth-level {
            width: 100%;
            // height: auto !important;
        }
        .second-level {
            justify-content: center;
        }
        .number {
            font-size: $font-size-2;
            margin-top: 0;
            font-weight: 600;
        }
        .task, .only-task {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
        .number-and-task-container-2 {
            width: 100%;
            justify-content: center;
            margin: 0 auto;
            .number {
                margin-top: 9.5px;
                margin-right: 10.5px;
            } 
        }
        .number-and-task-container-3 {
            width: 100%;
            justify-content: center;
            margin: 0 auto;
            .number {
                margin-top: 7.5px;
                margin-right: 10.5px;
            } 
        }
        .number-and-task-container {
            width: 100%;
            justify-content: center;
            margin: 0 auto;
            .number {
                margin-top: 5px !important;
                margin-right: 5px;
            } 
        }
        /// TYPES OF TASK'S WIDTH IN SCHEME ITEM WITHOUT DESCRIPTION (THIS IS COMPONENT)
        .scheme-width-50 {
            width: 50%;
        }

        .scheme-width-90 {
            width: 90%;
        }

        .scheme-width-70 {
            width: 70%;
        }

        .scheme-width-fit-content {
            width: fit-content;
        }

        .only-task {
            font-size: 1.771vw;
            font-weight: 500;
        }
        .task {
            font-size: 1.771vw;
            font-weight: 500;
            width: calc(52.5% - 5px);
            margin-right: 5px;
        }
        .description {
            width: calc(42.5% - 5px);
            margin-left: 5px;
            font-weight: 200;
            font-size: 0.938vw;
            margin-top: 2.5px;
            margin-bottom: 0;
        }
        .scheme-item {
            min-width: 15%;
            max-width: 33.33%;
            width: fit-content;
            padding: 30px 15px;
            border-radius: 1000px;
            border: 1px solid black;
            height: auto;
            justify-content: center;
            align-items: center;
        }
        .scheme-item-container {
            display: flex;
            justify-content: center;
        }
        .scheme-item-container-2 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .number-container {
            // width: calc(15% - 5px);
            margin-top: 5px;
            margin-right: 5px;
            // margin-bottom: 5%;
            // margin-top: 30px;
            // justify-content: flex-end;
        }
        .texts-container {
            display: flex;
            height: auto;
            // align-items: center;
            width: 90%;
        }
        .si-7 {
            .task {
                width: 85% !important;
            }
        }
        .first-level {
            .scheme-item {

            }
        }
        // .si-2 {
        //     justify-content: space-between !important;
        // }
    }
    .scheme-for-smm {
        .first-level {
            align-items: flex-start !important;
        }
        .first-level, .second-level, .third-level {
            justify-content: flex-start !important;
        }
        .scheme-item {
            max-width: 40% !important;
        }
    }
    .scheme-for-research {
        .si-1, .si-2, .si-3, .si-4 {
            width: 33.33%;
        }
        .si-5 {
            width: 25%;
        }
        .si-6 {
            width: 40%;
        }
        .scheme-item {
            max-width: 50% !important;
        }
        .second-level {
            justify-content: flex-end !important;
        }
        .scheme-item-container-2 {
            width: 90% !important;
        }
        .number {
            margin-right: 16px !important;
        }
        .number-research {
            margin-right: 11px !important;
        }
    }
    .scheme-mark-strategy {
        .si-6 {
            width: 38%;
            max-width: 38%;
        }
        .si-7 , .si-8 {
            width: 31%;
        }
        .si-10 , .si-11 {
            width: 33%;
        }
    }
    .scheme-for-business {
        .si-1, .si-2, .si-3, .si-4, .si-5, .si-6, .si-7 { 
            .number {
                width: calc(7% - 16px);
            }
        }
        .si-1, .si-2, .si-3, .si-4, .si-5 {
            width: 33.33%;
        }
        .si-6, .si-7 {
            width: 25%;
        }
        .first-level {
            justify-content: flex-start !important;
        }
        .second-level {
            justify-content: center !important;
        }
        .third-level {
            justify-content: flex-start !important;
        }
        .number {
            margin-top: 5px;
        }
        .number-business {
            margin-right: 16px !important;
        }
        .number-business-2 {
            margin-right: 20px !important;
        }
    }

}


//// FROM MARKETING STRATEGY PAGE

.m-strat-container {
    .heading {
        h2 {
            width: 50%;
        }
        p {
            width: 40%;
        }
    }
}

.heading-brand {
    h2, span {
        font-size: $font-size-6;
        color: $color-2;
        font-weight: 400;
        text-transform: none;
    }
    span {
        position: absolute;
    }
    .right-side, .left-side { 
        width: fit-content;
        padding-left: 0 !important;
        padding-right: 0 !important;
        position: relative;
        &.opacity {
            opacity: 0.13;
        }
    }
    .left-side {
        span {
            left: 84.8%;
        }
    }
    .right-side {
        display: flex;
        justify-content: flex-end;
        span {
            left: 83.4%;
        }
    }
}

.besides-block {
    .left-side, .right-side {
        width: 50%;
        h2, p {
            margin-top: 0;
        }
        h2 {
            margin-bottom: 20px;
            text-transform: none;
        }
    }
    .left-side {
        span {
            font-size: $font-size-2;
            opacity: 0.29
        }
    }
    .right-side {
        span {
            font-weight: 400;
            font-style: italic;
        }
    }
    h2 {
        color: $color-2;
        font-size: $font-size-6;
    }
    p, span {
        color: $color-2;
        font-size: $font-size-5;
    }
    p {
        font-weight: 200;
        line-height: 1.42;
    }

}

.arrow-scheme {
    margin-top: 60px;
    margin-bottom: 60px;
    .scheme-row {
        width: 100%;
        height: auto;
    }
}


.researches {
    h2, p {
        color: $color-2;
    }
    .container {
        .left-side, .right-side {
            width: 50%;
            h2 {
                font-size: $font-size-6;
                font-weight: 400;
            }
            p {
                font-size: $font-size-5;
                font-style: italic;
                font-weight: 400;
            }
        }
        .right-side {
            h2 {
                font-weight: 600;
                margin-bottom: 15px;

            }
            p {
                margin-top: 0;
            }
            .research-item {
                margin-bottom: 0px;
                // margin-top: 30px;
            }
        }
    }
}

.desk-research {
    margin-top: 60px;
    margin-bottom: 60px;
    p {
        color: $color-2;
    }
    .container {
        .heading-100 {
            padding: 0 0;
        }
        .help-options {
            width: 100%;
            .help-option {
                width: calc(20% - 30px);
                position: relative;
                p {
                    line-height: 1.42;
                    font-size: $font-size-4;
                }
                .circle {
                    width: 45px;
                    height: 45px;
                    position: absolute;
                    border-radius: 1000px;
                    left: -7%;
                    top: 12.5px;
                    z-index: -1;
                }
            }
            .help-option:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}
