$font-size-1: .83vw; // 16px
$font-size-2: 1.042vw; // 20px
$font-size-3: 1.3vw; // 27px
$font-size-4: 1.563vw; // 30px
$font-size-5: 1.875vw; // 36px
$font-size-6: 4.167vw; // 1.389

$font-size-1-mob: 3vw; // 1.389
$font-size-2-mob: 1.3vw; // 1.389
$font-size-3-mob: 4vw; // 1.944
$font-size-4-mob: 4.5vw; // 2.084
$font-size-5-mob: 36px; // 1.389
$font-size-6-mob: 7.5vw;


a, p, h1, h2, h3, body, input, button, span, div, ul, li {
    font-family: $font-name;
    color: $color-1;
}

a { 
    font-size: 1.3vw;
    text-decoration: none;
}

p {
    font-size: 1.3vw;
    font-weight: 500;
    max-width: 100%;
}

h1 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    text-transform: uppercase;
    font-size: 5vw;
}

h3 {
    font-size: 2.2vw;
    font-weight: 700;
}

ul,
li {}

span {}

input {}

button {}





