<section class="block-options">
    <div class="container-100 flex-col">
        <div class="heading flex-row space-between">
            <h2>PR-стратегия</h2>
            <p>- план действий, который нацелен на:</p>
        </div>
        <div class="options flex-col">
            @@include("./option-item.html", {
                "background": "style='background: #F1C376'",
                "option-text": "<p>01 создание <span>имиджа,</span></p>"
            }) 
            @@include("./option-item.html", {
                "background": "style='background: #F1C376'",
                "option-text": "<p>02 управление <span>репутацией,</span></p>"
            }) 
            @@include("./option-item.html", {
                "background": "style='background: #F1C376'",
                "option-text": "<p>03 повышение <span>узнаваемости бренда,</span></p>"
            }) 
            @@include("./option-item.html", {
                "background": "style='background: #F1C376'",
                "option-text": "<p>04 формирование <span>лояльности,</span></p>"
            }) 
            @@include("./option-item.html", {
                "background": "style='background: #F1C376'",
                "option-text": "<p>05 <span>продвижение</span> продукта/компании/персоны через работу с аудиторией</p>"
            }) 
        </div>
    </div>
</section>