<section class="block-options">
    <div class="container flex-col">
        <div class="heading flex-row space-between">
            <h2>PR-стратегия</h2>
            <p>- план действий, который нацелен на:</p>
        </div>
        <div class="options flex-col">
            <p>01 создание <span>имиджа</span></p>
            <p>02 управление <span>репутацией</span></p>
            <p>03 повышение <span>узнаваемости бренда</span></p>
            <p>04 формирование <span>лояльности</span></p>
            <p>05 создание <span>имиджа</span></p>
        </div>
    </div>
</section>