<div class="button flex-row">
    <div class="button-container">
        <picture class="circle-arrow" id="">
            <source srcset="./images/circle-arrow.webp" type="image/webp">
            <img src="./images/circle-arrow.svg" alt="">
        </picture>
        <picture class="arrow-right" id="">
            <source srcset="./images/arrow-right.webp" type="image/webp">
            <img src="./images/arrow-right.svg" alt="">
        </picture>
    </div>
    <a href="">
        @@text
    </a>
</div>