<section class="cover-block">
    <div class="container">
        <div class="cover">
            <picture>
                <source srcset="./images/cover-olga-s.webp" type="image/webp">
                <img src="./images/cover-olga-s.png" alt="">
            </picture>
        </div>
        <div class="cover-text-container">
            <div class="cover-text flex-col">
                <h1>Анализируйте, экспериментируйте, пробуйте новое. Главное развиваться, исследовать.<span class="text-color-6 span-class"> Принимайте решения, делайте и не бойтесь.</span> А&nbsp;если боитесь, то&nbsp;лучше не делайте. Найдите то, что&nbsp;вам&nbsp;по&nbsp;плечу.
                    <br><br><span class="olga-s-span">Ольга Сучкова, <br> основатель Creative Hub 1</span></h1>
            </div>
        </div>
    </div>
</section>