<section class="footer">
    <div class="container flex-row space-between">
        <div class="left-side flex-row">
            <a>Политика использования<br>
                cookie-файлов</a>
            <a>Политика обработки<br> и защиты персональных данных</a>
        </div>
        <div class="right-side flex-row">
            <div class="copyright-text">
                <a class="no-hover">© 2022 Creative Hub 1.<br>Все права защищены.</a>
            </div>
        </div>
    </div>
</section>
<script src="scripts.min.js?ver=<?= rand(1, 9999); ?>"></script>
</body>

</html>