<section class="projects">
    <div class="container">
        <div class="projects flex-col">
            <div class="top-content flex-row space-between no-wrap">
                <div class="name">
                    <h3>проекты</h3>
                </div>
                @@include("./button.html", {
                    "text": "все&nbsp;проекты"
                }) 
            </div>
            <div class="project-items flex-row">
                <div class="project-item">
                    <img src="./images/consul.png" alt="">
                    <div class="description"><p>Краткое описание проекта</p></div>
                </div>
                <div class="project-item text-item flex-col">
                    <p>всегда начинайте<br>
                        <span class="text-color-6">с анализа</span></p>
                    <p>делайте то,<br> <span class="text-color-3">в чем вы сильны</span>
                    </p>
                    <p>держите фокус<br> <span class="text-color-8">на цели</span></p>
                    <p>пусть здравый смысл<br>
                        не оставит вас!</p>
                </div>
                <div class="project-item">
                    <img src="./images/rein.png" alt="">
                    <div class="description"><p>Краткое описание проекта</p></div>
                </div>
                <div class="project-item">
                    <img src="./images/armia.png" alt="">
                    <div class="description"><p>Краткое описание проекта</p></div>
                </div>
                <div class="project-item">
                    <img src="./images/kirill-k.png" alt="">
                    <div class="description"><p>Краткое описание проекта</p></div>
                </div>
                <div class="project-item project-6 light">
                    <picture class="project-6-image" id="">
                        <source srcset="./images/lightning-image.webp" type="image/webp">
                        <img src="./images/lightning-image.png" alt="">
                    </picture>
                    <picture class="project-6-hover-image" id="">
                        <source srcset="./images/lightning.webp" type="image/webp">
                        <img src="./images/lightning.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>