<section class="projects">
    <div class="container">
        <div class="projects flex-col">
            <div class="top-content flex-row space-between">
                <div class="name">
                    <h3>проекты</h3>
                </div>
                <div class="arrow-all flex-row">
                    <div class="arrow-all-container">
                        <picture class="all-projects-circle-arrow" id="">
                            <source srcset="./images/circle-arrow.webp" type="image/webp">
                            <img src="./images/circle-arrow.png" alt="">
                        </picture>
                        <picture class="all-projects-arrow-right" id="">
                            <source srcset="./images/arrow-right.webp" type="image/webp">
                            <img src="./images/arrow-right.png" alt="">
                        </picture>
                    </div>
                    <a href="">
                        все&nbsp;проекты
                    </a>
                </div>
            </div>
            <div class="project-items flex-row">
                <div class="project-item">
                    <picture class="project-1" id="">
                        <source srcset="./images/consul.webp" type="image/webp">
                        <img src="./images/consul.png" alt="">
                    </picture>
                </div>
                <div class="project-item text-item flex-col">
                    <p>всегда начинайте<br>
                        <span class="text-color-6">с анализа</span></p>
                    <p>делайте то,<br> <span class="text-color-3">в чем вы сильны</span>
                    </p>
                    <p>держите фокус<br> <span class="text-color-8">на цели</span></p>
                    <p>пусть здравый смысл<br>
                        не оставит вас!</p>
                </div>
                <div class="project-item">
                    <picture class="project-3" id="">
                        <source srcset="./images/rein.webp" type="image/webp">
                        <img src="./images/rein.png" alt="">
                    </picture>
                </div>
                <div class="project-item">
                    <picture class="project-4" id="">
                        <source srcset="./images/armia.webp" type="image/webp">
                        <img src="./images/armia.png" alt="">
                    </picture>
                </div>
                <div class="project-item">
                    <picture class="project-5" id="">
                        <source srcset="./images/kirill-k.webp" type="image/webp">
                        <img src="./images/kirill-k.png" alt="">
                    </picture>
                </div>
                <div class="project-item project-6">
                    <picture class="project-6-image" id="">
                        <source srcset="./images/lightning-image.webp" type="image/webp">
                        <img src="./images/lightning-image.png" alt="">
                    </picture>
                    <picture class="project-6-hover-image" id="">
                        <source srcset="./images/lightning.webp" type="image/webp">
                        <img src="./images/lightning.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>