<div class="service-item flex-row space-between">
    <!-- <div class="left-side flex-row">
        <div class="circle-arrow-service">
            <img src="./images/circle-arrow.svg" alt="">
        </div>
        <div class="theme-service">
            <img src="./images/marketing-svg.svg" alt="">
        </div>
        <p>marketing
            strategy</p>
    </div> -->
    <div class="left-side">
        <img src="./images/@@svg-source.svg" alt="">
    </div>
    <div class="right-side"><p>@@right-text</p>
        </div>
</div>